  .MuiTreeItem-root:hover {
  background-color: transparent !important; /* Use !important if needed to override MUI defaults */
  /* color: darkblue; */
}

.css-12kdj5u-MuiTreeItem-root:hover {
  background-color: transparent !important; /* Use !important if needed to override MUI defaults */
  /* color: darkblue; */
}

.css-xgx2i9-MuiTreeItem-root:hover {
  background-color: transparent !important; /* Use !important if needed to override MUI defaults */
  /* color: darkblue; */
}



